body {
  font-family: sans-serif;
  background-color: #000200;
}

h2 {
  text-align: left;
  color: rgb(252, 114, 2);
  font-size: 100px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
p {
  color: rgb(252, 114, 2);
  font-family: cursive;
  font-weight: 30px;
}

img {
  border-radius: 50%;
  position: relative;
  line-height: 30%;
  border-right: 23px solid rgb(252, 114, 2);
  border-top: 23px solid rgb(252, 114, 2);
}
.center {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  margin-top: -30%;
}

.form {
  position: absolute;
  left: 81%;
}
.form label {
  border-radius: 20px;
  background-color: black;
  color: orange;
}
.form input {
  border-radius: 1em;
  border: none;
  background-color: whitesmoke;
}
button {
  background-color: rgb(252, 114, 2);
  border: none;
  color: white;
  padding: 9px;
  border-radius: 6px;
  font-weight: bold;
  text-align: left;
}
